# ========== URL ========== #
DOMAIN_NAME=lquehec.42.fr
# ========== USERS ========== #
USER=lquehec
# ========== CERTIFICATES ========== #
CERTS_KEY=/etc/nginx/ssl/ssl.key
CERTS_CRT=/etc/nginx/ssl/ssl.crt
# ========== MYSQL ========== #
MYSQL_HOST=mariadb
MYSQL_ROOT_PASSWORD=1234
MYSQL_PORT=3306
MYSQL_ADRRESS=0.0.0.0
# ========== WORDPRESS ========== #
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=1234
WORDPRESS_DB_PREFIX=wp_
WORDPRESS_PATH=/var/www/wordpress
WORDPRESS_TITLE=42Inception
WORDPRESS_HOST=wordpress
WORDPRESS_PORT=9000
# WORDPRESS USERS
# Admin
WORDPRESS_ADMIN_USER=lquehec
WORDPRESS_ADMIN_PASSWORD=1234
WORDPRESS_ADMIN_EMAIL=lquehec@lquehec.42.fr
# User1
WORDPRESS_USER1_USER=kaaris
WORDPRESS_USER1_PASSWORD=1234
WORDPRESS_USER1_EMAIL=kaaris@lquehec.42.fr

# ========== BONUS ========== #
REDIS_PASSWORD=1234
FTP_USER=lquehec
FTP_PASSWORD=1234
